{% extends 'base.html' %} 
{% load static %}
{% load humanize %}

{% block title %}Opportunities{% endblock title %}

{% block content %}

{% if opportunity_form.errors %} 
  <div class="ui three column centered grid dj-message">
    <div class="column">
      <div class="ui error message">
        <i class="close icon"></i>
        {% for field in opportunity_form.visible_fields %}
            {{field.errors}}
        {% endfor %}
        {% for error in opportunity_form.non_field_errors %}
          {{ error }}
      {% endfor %}
      </div>
    </div>       
  </div>  
{% endif %}

{% if technology_form.errors %} 
  <div class="ui three column centered grid dj-message">
    <div class="column">
      <div class="ui error message">
        <i class="close icon"></i>
        {% for field in technology_form.visible_fields %}
            {{field.errors}}
        {% endfor %}
        {% for error in technology_form.non_field_errors %}
          {{ error }}
      {% endfor %}
      </div>
    </div>       
  </div>  
{% endif %}

{% include 'opportunities/opportunity_crud_modal.html' %}

<div class="ui container account-detail opp">
  <div class="ui secondary menu">
    <div class="item">
      <h1><i class="briefcase right icon"></i> {{opportunity}}</h1>
    </div>
    <div class="item">
      <button class="ui grey basic mini button" id="modal_create">Edit</button>  
      <form action="{% url 'opportunities:won' opportunity.slug %}" method="post">
        {% csrf_token %}
        <button class="ui green mini button" type="submit">Won</button>
      </form>
      <form action="{% url 'opportunities:lost' opportunity.slug %}" method="post">
        {% csrf_token %}
        <button class="ui red mini button" type="submit">Lost</button>
      </form>
    </div>
  </div>

  <p class="opp_desc">{{opportunity.description}}</p>


  <table class="ui table">
    <tbody>
      <tr>
      
        <td>
          <table class="ui very compact table">
            <thead>
              <tr>
                <th>Opportunity Information:</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><b>Priority:</b></td>
                <td>{{opportunity.get_priority_display}}</td>
              </tr>
              <tr>
                <td><b>Account:</b></td>
                <td><a href="{{opportunity.account.get_absolute_url}}">{{opportunity.account}}</a></td>
              </tr>
              <tr>
                <td><b>Technology:</b></td>
                <td>{{opportunity.technology}}</td>
              </tr>
              <tr>
                <td><b>Amount:</b></td>
                <td><span>{{opportunity.currency}} {{opportunity.amount|floatformat|intcomma}}</span>
                </td>
              </tr>
              <tr>
                <td><b>Stage:</b></td>
                <td {% if opportunity.get_stage_display == "Closed Won" %}class="won"
                    {% elif opportunity.get_stage_display == "Closed Lost" %}class="lost"{% endif %}>
                    {{opportunity.get_stage_display}}
                </td>
              </tr>
              <tr>  
                <td><b>Assigned to:</b></td>
                <td>{{opportunity.assigned_to.get_full_name}}</td>
              </tr>
            </tbody>
          </table>
          </td>

          <td>
          <div class="ui fluid container contacts">
          <div class="ui container">
            <h4 class="ui teal">CONTACTS</h4>
            <table class="ui single line teal table tablesorter">
              <thead>
                <tr>
                  <th>Name <i class="sort icon"></i></th>
                  <th>Position <i class="sort icon"></i></th>
                  <th>Phone <i class="sort icon"></i></th>
                  <th>Email <i class="sort icon"></i></th>
                  <th>Location <i class="sort icon"></i></th>
                </tr>
              </thead>
              <tbody>
                  {% for contact in opportunity.contacts.all %}
                  <tr>
                    <td><a href="{{contact.get_absolute_url}}">{{contact}}</a></td>
                    <td>{{contact.position}}</td>
                    <td class="ui disabled disabled-phone"> {% if  contact.phone %}<i class="{{contact.location|lower}} flag"></i>{% endif %}
                      <input type="text" class="input-phone" value="{{ contact.phone}}">
                    </td>
                    <td><a href="mailto:{{contact.email}}">{{contact.email|lower}}</a></td>
                    <td><i class="{{contact.location|lower}} flag"></i> {{contact.get_location_display}}</td>
                  </tr>
                  {%empty%}
                  <td>No contacts provided</td>
                  {% endfor %}
              </tbody>
            </table>
          </div>
          </div>
        </td>

      </tr>
    </tbody>
  </table>

  
</div>




{% endblock content %}

{% block javascript %}
  
  <script src="{% static 'global/cleave.js' %}"></script>
  <script src="{% static 'global/cleave-phone.i18n.js' %}"></script>
  <script src="{% static 'global/global.js' %}"></script>  

{% endblock javascript %}
