{% extends 'base.html' %}
{% load static %}

{% block content %}

{% if account_form.errors %} 
  <div class="ui three column centered grid dj-message">
    <div class="column">
      <div class="ui error message">
        <i class="close icon"></i>
        {% for field in account_form.visible_fields %}
            {{field.errors}}
        {% endfor %}
        {% for error in account_form.non_field_errors %}
          {{ error }}
      {% endfor %}
      </div>
    </div>       
  </div>  
{% endif %}

{% if parent_form.errors %} 
  <div class="ui three column centered grid dj-message">
    <div class="column">
      <div class="ui error message">
        <i class="close icon"></i>
        {% for field in parent_form.visible_fields %}
            {{field.errors}}
        {% endfor %}
        {% for error in parent_form.non_field_errors %}
          {{ error }}
      {% endfor %}
      </div>
    </div>       
  </div>  
{% endif %}

{% if messages %}
  {% for message in messages %}
    <div class="ui three column centered grid dj-message">
      <div class="column">
        <div class="ui {{ message.tags }} message">
          <i class="close icon"></i>
          <p>{{message }}</p>
        </div>
      </div>   
    </div>         
  {% endfor %}
{% endif %}

<div class="ui container account">

<h1><i class="building right icon"></i> Accounts</h1>
 <button class="ui teal button" id="modal_create"><i class="plus icon"></i>Add a new Account</button>
  <br>

  {% include 'accounts/account_create_modal.html' %}


{% regroup accounts by status as status_list %}

  <div class="ui accordion">
    
    {% for status in status_list %}
    
      <div class="title">
        <i class="dropdown icon"></i>
        <h3>{{status.grouper}}s</h3>
      </div>
      <div class="content">

        <table class="ui olive selectable table transition hidden tablesorter" id="{{status.grouper}}">
          <thead>
            <tr>
              <th>Name  <i class="sort icon"></i></th>
              <th>Industry <i class="sort icon"></th>
              <th>Country  <i class="sort icon"></th>
              <th>Main Contact  <i class="sort icon"></th>
              <th>Assigned to  <i class="sort icon"></th>
              <th>Address  <i class="sort icon"></th>
              <th>Web  <i class="sort icon"></th>
            </tr>
          </thead>

          <tbody>

          {% for account in status.list %}
            <tr>
              <td class="modal-button" data-account="{{account.slug}}" data-tooltip="Click for details" data-position="top left" data-inverted=""><a href="#">{{account.name}}</a></td>
              <td>{{ account.industry}}</td>
              <td><i class="{{account.country|lower}} flag"></i> {{account.get_country_display}}</td>
              <td>{{ account.contacts.first}}</td>
              <td>{{ account.assigned_to.get_full_name}}</td>
              <td>{{ account.address}}</td>
              <td><a href="{{ account.website}}" target="_blank">Visit</a></td>
            </tr>
            
            {% include 'accounts/account_detail _modal.html' %}

            {% endfor %}

          </tbody>
        </table>
      </div>
      <br>

    {% endfor %}

  </div>

{% endblock content %}

{% block javascript %}

  <script src="{% static 'global/global.js' %}"></script>  

{% endblock javascript %}