{% extends 'base.html' %}
{% load static %}

{% block content %}

{% if contact_form.errors %} 
  <div class="ui three column centered grid dj-message">
    <div class="column">
      <div class="ui error message">
        <i class="close icon"></i>
        {% for field in contact_form.visible_fields %}
            {{field.errors}}
        {% endfor %}
        {% for error in contact_form.non_field_errors %}
          {{ error }}
      {% endfor %}
      </div>
    </div>       
  </div>  
{% endif %}

<div class="ui container account">

<h1><i class="address card outline icon"></i> Contacts</h1>
 <button class="ui teal button" id="modal_create"><i class="plus icon"></i>Add a new Contact</button>
  <br>

  {% include 'contacts/contact_crud_modal.html' %}

{% regroup contacts by source as source_list %}

  <div class="ui accordion">
    
    {% for source in source_list %}
    
      <div class="title">
        <i class="dropdown icon"></i>
        <h3 style="display:inline">{{source.grouper}}s</h3>
      </div>
      <div class="content">

        <table class="ui teal selectable table transition hidden tablesorter" id="{{source.grouper|slugify}}">
          <thead>
            <tr>
            <th></th>
              <th>Name  <i class="sort icon"></i></th>
              <th>{% if source.grouper == "Account Contact" %}Account{% else %}Vendor{% endif %} <i class="sort icon"></i></th>
              <th>Position <i class="sort icon"></th>
              <th>Location  <i class="sort icon"></th>
              <th>Email  <i class="sort icon"></th>
              <th>Phone  <i class="sort icon"></th>
            </tr>
          </thead>

          <tbody>

          {% for contact in source.list %}
            <tr>
              <td class="modal-button" data-contact="{{contact.slug}}" data-tooltip="Click for last notes" data-position="top left" data-inverted="">
                <i class="search plus grey icon"></i>
              </td>
              <td>{{contact}}</a></td>
              <td>
                {% if contact.account_contacts.first %}
                  <a href="{{contact.account_contacts.first.get_absolute_url}}">{{contact.account_contacts.first}}</a>
                {% else %}
                  {{contact.vendor}}
                {% endif %}
              </td>
              <td>{{ contact.position}}</td>
              <td><i class="{{contact.location|lower}} flag"></i> {{contact.get_location_display}}</td>
              <td><a href="mailto:{{contact.email}}">{{contact.email|lower}}</a></td>
              <td class="ui disabled disabled-phone"> <i class="{{contact.location|lower}} flag"></i>
                <input type="text" class="input-phone" value="{{ contact.phone}}">
              </td>
            </tr>
            
            {% include 'contacts/contact_detail_modal.html' %}

            {% endfor %}

          </tbody>
        </table>
      </div>
      <br>

    {% endfor %}

  </div>

{% endblock content %}

{% block javascript %}

  <script src="{% static 'global/cleave.js' %}"></script>
  <script src="{% static 'global/cleave-phone.i18n.js' %}"></script>

  <script src="{% static 'global/global.js' %}"></script>
{% endblock javascript %}