.ui.container{
  min-width: 95% !important;
}

textarea{
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif !important;
}

.ui.menu .item>img:not(.ui) {
    width: 1em;
}

.ui.menu .item, .active.item{
   color: white !important;
}

.account-detail .ui.menu .item, .account-detail .active.item{
   color: black !important;
}

.active.item{
  border-color: red !important;
}

.right.menu .ui.button {
    padding: 0;
    background-color: black;
}

.ui.secondary.pointing.menu .dropdown.item:hover, .ui.secondary.pointing.menu .link.item:hover, .ui.secondary.pointing.menu a.item:hover {
    background-color: transparent;
    color:rgb(179, 179, 179) !important;
}

.right.menu {
    align-items: center !important;
  }
  
.ui.secondary.menu {
  background-color: black !important;
}

.account-detail .ui.secondary.menu {
  background-color: white !important;
}

.ui.secondary.pointing.menu .item {
  align-self: baseline !important;
}

.ui.menu:not(.vertical) .item  .button {
  padding: 7px 1.14285714em !important; 
  margin-right: 10px;
  font-size: 1rem;
}

.ui.secondary.pointing.menu p {
  color: darkcyan !important;
  font-family: fantasy !important;
  font-weight: 700 !important;
}

.ui.input>input{
  padding: .47857143em 1em;
}

.account .ui.teal.button{
  float: right;
}

.ui.table {margin: 0;}
.ui.table th{
  outline: none !important;
}

.ui.modal .header{
  color: slategray;
}

.ui.modal>.content>.description{
  padding-right: 60px;
}

.ui.modal .item .header{
  margin-bottom: 6px;
  font-size: 1.1em;
  color: orange;
}

.ui.modal .content .description{
  margin-bottom: 2px;
}

.modal-button i{
  cursor: pointer;
}

.ui.relaxed.list:not(.horizontal)>.item:not(:first-child) {
    padding-top: 1em;
}

.fields .plus-icon{
  height: 0px !important;
  line-height: 6 !important;
  padding-left: 0 !important;
  cursor: pointer;
}

.ui.selection.dropdown{
  min-width: 0 !important;
}

.dj-message{
  position: absolute !important;
  width: 100% !important;
}

.ui.message p{
  margin: 0 !important;
}

.errorlist{
  margin: 0;
    padding: 0 10px;
}

.account-detail .table{
  border: none;
  line-height: 1em;
}
.account-detail .ui.table tr td{
  border: none;
}

.account-detail .ui.table th{
  background-color: white;
  border: none;
  font-size: 1.1em;
}

.ui.very.compact{
  width: auto;
}

.ui.fluid.container.contacts{
    background-color: #f1f1f1;
    padding: 20px 0;
    margin-top: 20px;
}

.disabled-phone{
  opacity: 100 !important;
}

 td .input-phone{
  border-color: white !important;
  color: rgba(0,0,0,.87);
  padding: 0 !important;
  border: none;
}
.ui.selectable.table tbody tr:hover input{
  border-color: #F2F2F2  !important;

  background-color: #F2F2F2 !important;
}

.description .item span, td span{
  color: orange;
  font-weight: bolder;
}

.opp_desc{
  padding-left: 15px;

}

.account-detail.opp .ui.secondary.menu{
  margin-bottom: 0;
}

.won{
  color: green;
  font-weight: 600;
}

.lost{
  color: red;
  font-weight: 600;
}


/* Accordion titles */
.section-title{
  display: inline;
}

/* Accordion titles */
#client{color:teal;}
#former-client{color:#b5cc18;}
#prospect{color:#21ba45;}

.account-contact{  color: teal}
.vendor-contact{  color: #b5cc18}

.identification{  color: #fbbd08}
.in-contact{  color: #b5cc18}
.under-analysis{  color: #00b5ad}
.price-quote{  color: #767676}
.negotiationreview{  color: #2185d0}
.closed-won{ color: #21ba45;}
.closed-lost{  color: #db2828}



