.right.menu {
    align-items: center !important;
  }
  
  .ui.secondary.menu {
    background-color: #f1f1f1 !important;
  }
  
  .ui.secondary.pointing.menu .item {
    align-self: baseline !important;
  }
  
  .ui.menu:not(.vertical) .item > .button {
    padding: 7px 1.14285714em !important; 
  }
  
  .ui.secondary.pointing.menu p {
    color: darkcyan !important;
    font-family: fantasy !important;
    font-weight: 700 !important;
  }

