{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>

    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    {% block css %}{% endblock css %}

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.3/js/jquery.tablesorter.min.js" integrity="sha512-qzgd5cYSZcosqpzpn7zF2ZId8f/8CHmFKZ8j7mU4OUXTNRd5g+ZHBPsgKEwoqxCtdQvExE5LprwwPAgoicguNg==" crossorigin="anonymous"></script>


    <!-- Semantic UI -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    <link rel="stylesheet" href="{% static 'core/style.css' %}">    
    
</head>
<body>
    <div class="ui secondary pointing menu">
        <a class="item" href="{% url 'accounts:index' %}"><img src="{% static 'favicon.ico' %}"></a>
        <a class="{% if active == 'accounts' %}active {% endif %}item" href="{% url 'accounts:index' %}">Accounts</a>
        <a class="{% if active == 'opportunities' %}active {% endif %}item" href="{% url 'opportunities:index' %}">Opportunities</a>
        <a class="{% if active == 'contacts' %}active {% endif %}item" href="{% url 'contacts:index' %}">Contacts</a>
        <a class="{% if active == 'activities' %}active {% endif %}item" href="{% url 'tasks:index' %}">Activities</a>

        <div class="right menu">
            <div class="ui inverted left icon input">
                <input type="text" placeholder="Search...">
                <i class="search icon"></i>
            </div>
            <strong class="item"><i class="user circle outline icon"></i> {{ user.first_name }}</strong>
            <a class="item ui secondary button tiny" href="{% url 'logout' %}"><i class="sign-out icon"></i></a>
        </div>
    </div>

    {% block content %}
    {% endblock content %}

    {% block javascript %}
    {% endblock javascript %}
    
</body>
</html>